@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue:#2980b9;
}
*{
  font-family: 'Open Sans', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
  background:#ff3300;
  color:#fff;
}

html{
  font-size: 69.5%;
  overflow-x: hidden;
}

.btn{
  height: 4rem;
  width: 14rem;
  background:var(--blue);
  color:#fff;
  font-size: 2rem;
  cursor: pointer;
  border:none;
  outline: none;
}

.btn:hover{
  letter-spacing: .2rem;
  opacity: .8;
}

.heading{
  padding-top: 7rem;
  width: 95%;
  border-bottom: .2rem solid rgba(0,0,0,.3);
  margin:0 auto;
}

.heading span{
  font-size: 2rem;
  padding:1rem 6rem;
  color:#fff;
  background:var(--blue);
  border-top-right-radius: 3rem;
  display: inline-block;
}
header .header-1, header .header-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem;
  width: 100%;
  z-index: 1000;
}

header .header-1 .logo{
  font-size: 2rem;
  color:#666;
}

header .header-1 .logo i{
  color:var(--blue);
}

header .header-1 .form-container form{
  display: flex;
}

header .header-1 .form-container form #search{
  height: 4rem;
  width: 50rem;
  outline: none;
  border:.2rem solid #666;
  font-size: 1.5rem;
  padding:0 1rem;
}

header .header-1 .form-container form #search:focus{
  border-color: var(--blue);;
}

header .header-1 .form-container form label{
  height: 4rem;
  width: 5rem;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #004d80;
  color:#fff;
}

header .header-1 .form-container form label:hover{
  color:yellow;
  
}

header .header-2{
  background-color: #004d80;
}

header .header-2 .navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-2 .navbar ul li{
  margin:0 1rem;
}

header .header-2 .navbar ul li a{
  font-size: 2rem;
  color:#fff;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
  color:yellow;
  

}
header .header-2 .dropdown-menu a:hover{
  color:#120e0e;
  
}
header .header-2 .icons a{
  color: #fff;
  font-size: 2rem;
  padding: 0 1rem;
}

header .header-2 .icons a:hover{
  color:yellow;
}

header .header-2 #menu{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
}

header .header-2.header-active{
  position: fixed;
  top:0; left: 0;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

.myrows{
  border: 3px solid green;
  padding: 5px;
}
.mycols{
  border: 3px solid red;
}
.mycontainer{
  background-color: aqua;
}
#topHeader{
  border-bottom: 1px solid #ebebeb;
}
#topHeader a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
	font-size: 1.1rem;
	font-weight: 600;
}
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h1{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

.top-hero-section{
background-color: #3498db;
color: white;
}
.top-hero-section a{
  color: white;
  font-weight: 600;
}
.qualities-img{
  width:200px;
}
.requirements-section{
  background-color: #004d80;
  color: white;
}
.breadcrumbs-section{
  background-color: #e9ecef;
}
.clients-section{
  background-color: #f0f0f0;
}
.contact-form{
    background: skyblue;
    margin-top: 10%;
    margin-bottom: 5%; 
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;

}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -1%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0f0c0c;
    font-family: sans-serif;
    color: #34435e;
}
.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding:  1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 5%;
}
.home-newsletter{
  background-color: #004d80;
  color: white;
}
.home-newsletter .form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.home-newsletter .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #be0280;
    color: #fff;
}